:root {
    --red: #f9032f;
    --black: #000;
    --white: #fff;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc((100Vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.navbar__logo {
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}


.navbar__link {
    color: var(--white);
    text-decoration: none;
    padding: 0rem 2rem;
}


.navbar__link:hover {
    color: var(--red);
}


@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .navbar__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--black);
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }


    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*  Hero Section */

.hero {
    width: 100%;
    background:transparent;
    border: solid 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 20px;
}

.hero__content {
     display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
}

.hero__content h1 {
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero__content p {
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button {
    padding: 1rem 3rem;
    border: none;
    background: var(--red);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background: var(--black);
}

/* Services Section */

.services {
    padding: 8rem calc((100vw - 1200px) / 2);
    padding-left: 1rem;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.services__img {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.topline {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.services__heading {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
}

.services__features {
    list-style: none;
}

.services__feature {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 1fr;
    }
}